{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "comma-dangle": ["error", "always"],
        "prettier/prettier": [
            "error"
        ]
    },
    "env": {
        "browser": true,
    }
}
