{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier",
        "plugin:jest/style",
        "plugin:jest/recommended",
    ],
    "plugins": [
        "jest",
        "prettier"
    ],
    "rules": {
        "comma-dangle": ["error", "always"],
        "prettier/prettier": [
            "error"
        ]
    },
    "env": {
        "browser": true,
        "jest/globals": true,
    }
}
